@import "../styles/colors.css";

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorsWhite);
  background-color: var(--colorsYellow);
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.addButton:hover,
.addButton:active,
.addButton:focus {
  background-color: var(--colorsOrange);
}
