@import "../common/styles/colors.css";

.picker {
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
}
.btn {
  flex: 1;
  height: 5vh;
  border: 0;
  background: var(--colorsYellow);
  color: var(--colorsWhite);
}
.btnActive {
  composes: btn;
  background: var(--colorsOrange);
}
